<div class="row">
  <div class="col-sm-10">
    <input
      type="search"
      id="container-search"
      value=""
      class="form-control form-control-lg"
      placeholder="Search notes... "
      [(ngModel)]="searchTitle"
    />
  </div>
  <div class="col-sm-2">
    <button
      type="button"
      class="btn btn-info btn-lg btn-block"
      data-toggle="modal"
      data-target="#addModel"
    >
      Add
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-4" *ngFor="let note of notesList | search: searchTitle">
    <div class="card mt-4">
      <div class="card-header">{{ note.title }}</div>
      <div class="card-body text-info">{{ note.description }}</div>
      <div class="card-footer">
        <div class="float-left">
          <note-star [ratings]="note.ratings"></note-star>
        </div>
        <div class="float-right">
          <i
            class="fa fa-pencil pr-1"
            data-toggle="modal"
            data-target="#addModel"
            (click)="getNote(note.id)"
          ></i>

          <i
            class="fa fa-trash"
            data-toggle="modal"
            data-target="#deleteModel"
            (click)="deleteNotes(note.id)"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div
        class="modal-header"
        [(ngModel)]="isUpdate"
        *ngIf="isUpdate; else editModule"
      >
        <h5 class="modal-title" id="addModelLabel">Edit Notes</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-template #editModule>
        <div class="modal-header">
          <h5 class="modal-title" id="addModelLabel">Add Notes</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </ng-template>
      <div class="modal-body">
        <form #notesForm="ngForm">
          <div class="form-group">
            <label for="addTitle">Title</label>
            <input
              ngModel
              #titleFC="ngModel"
              type="text"
              class="form-control"
              id="addTitle"
              name="title"
              aria-describedby="titleHelp"
              placeholder="Enter title"
              [(ngModel)]="notes.title"
              required
              minlength="3"
              maxlength="20"
            />
            <small
              class="form-text text-muted"
              *ngIf="titleFC.touched && !titleFC.valid"
            >
              <small *ngIf="titleFC.errors.required" class="text-danger">
                Please Enter Title.
              </small>
              <small *ngIf="titleFC.errors.minlength" class="text-danger">
                Please Enter Min Of
                {{ titleFC.errors.minlength.requiredLength }} CHAR.
              </small>
            </small>
          </div>
          <div class="form-group">
            <textarea
              ngModel
              #descFC="ngModel"
              [(ngModel)]="notes.description"
              name="description"
              class="form-control"
              rows="3"
              required
              minlength="3"
              maxlength="200"
            ></textarea>
            <small
              class="form-text text-muted"
              *ngIf="descFC.touched && !descFC.valid"
            >
              <small *ngIf="descFC.errors.required" class="text-danger">
                Please Enter Description.
              </small>
              <small *ngIf="descFC.errors.minlength" class="text-danger">
                Please Enter Min Of
                {{ descFC.errors.minlength.requiredLength }} CHAR.
              </small>
            </small>
          </div>
          <div class="form-group">
            <label for="inputRatings">Ratings</label>
            <select
              id="inputRatings"
              class="form-control"
              name="ratings"
              ngModel
              #ratingFC="ngModel"
              [(ngModel)]="notes.ratings"
              required
            >
              <option value="" selected>Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <small
              class="form-text text-muted"
              *ngIf="ratingFC.touched && !ratingFC.valid"
              class="text-danger"
            >
              Please Select Rating.
            </small>
          </div>
          <div class="form-group">
            <!-- ToDo 06:  Get the Tag values from db.json -->
            <label for="inputTags">Tags</label>
            <select
              id="inputTags"
              class="form-control"
              name="tags"
              ngModel
              #tagsFC="ngModel"
              [(ngModel)]="notes.tagId"
              required
            >
              <option value="" selected>Select</option>
              <option value="1">Books</option>
              <option value="2">Films</option>
              <option value="3">Others</option>
            </select>
            <small
              class="form-text text-muted text-danger"
              *ngIf="tagsFC.touched && !tagsFC.valid"
            >
              Please Select Tag.
            </small>
          </div>
          <!-- <p>Values</p>
          <p>"Form Group : " {{ notesForm.value | json }}</p>
          <P> "Form Control : " {{ "Title: " + titleFC.value }} </P>
          <p>"Two Way Binding : " {{ "Title: " + notes.title }}</p>
          <p>-------------------------------------------</p> -->
          <!-- <p><b>TDF States</b></p>
          <p>Form Group</p>
          <p>
            inValid : {{ notesForm.invalid }} +" | "+ Valid :
            {{ notesForm.valid }}
          </p>
          <p>--------------------------------</p>
          <p>Title Form Control</p>
          <p>
            inValid : {{ titleFC.invalid }} +" | "+ Valid : {{ titleFC.valid }}
          </p>
          <p>
            pristine : {{ titleFC.pristine }} +" | "+ dirty :
            {{ titleFC.dirty }}
          </p>
          <p>
            unTounched : {{ titleFC.untouched }} +" | "+ touched :
            {{ titleFC.touched }}
          </p> -->
        </form>
      </div>
      <ng-template #editButton>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            data-dismiss="modal"
            type="button"
            class="btn btn-primary"
            [disabled]="!notesForm.form.valid"
            (click)="addNotes(notes)"
          >
            Save changes
          </button>
        </div>
      </ng-template>
      <div class="modal-footer" *ngIf="isUpdate; else editButton">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          data-dismiss="modal"
          type="button"
          class="btn btn-primary"
          [disabled]="!notesForm.form.valid"
          (click)="updateNotes(notes)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<!--<div
  class="modal fade"
  id="editModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModelLabel">Edit Notes</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #notesEditForm="ngForm">
          <div class="form-group">
            <label for="editTitle">Title</label>
            <input
              ngModel
              #titleFC="ngModel"
              type="text"
              class="form-control"
              id="addTitle"
              name="title"
              aria-describedby="titleHelp"
              placeholder="Enter title"
              [(ngModel)]="editnotes.title"
              required
              minlength="3"
              maxlength="20"
            />
            <small
              class="form-text text-muted"
              *ngIf="titleFC.touched && !titleFC.valid"
            >
              <small *ngIf="titleFC.errors.required" class="text-danger">
                Please Enter Title.
              </small>
              <small *ngIf="titleFC.errors.minlength" class="text-danger">
                Please Enter Min Of
                {{ titleFC.errors.minlength.requiredLength }} CHAR.
              </small>
            </small>
          </div>
          <div class="form-group">
            <textarea
              ngModel
              #descFC="ngModel"
              [(ngModel)]="editnotes.description"
              name="description"
              class="form-control"
              rows="3"
              required
              minlength="3"
              maxlength="200"
            ></textarea>
            <small
              class="form-text text-muted"
              *ngIf="descFC.touched && !descFC.valid"
            >
              <small *ngIf="descFC.errors.required" class="text-danger">
                Please Enter Description.
              </small>
              <small *ngIf="descFC.errors.minlength" class="text-danger">
                Please Enter Min Of
                {{ titleFC.errors.minlength.requiredLength }} CHAR.
              </small>
            </small>
          </div>
          <div class="form-group">
            <label for="editRatings">Ratings</label>
            <select
              id="editRatings"
              class="form-control"
              name="ratings"
              ngModel
              #ratingFC="ngModel"
              [(ngModel)]="editnotes.ratings"
              required
              (change)="logDetails(ratingFC)"
            >
              <option value="" selected>Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <small
              class="form-text text-danger"
              *ngIf="ratingFC.touched && !ratingFC.valid"
            >
              Please Select Rating.
            </small>
          </div>
          <div class="form-group">
            <label for="editTags">Tags</label>
            <select
              id="editTags"
              class="form-control"
              name="tags"
              ngModel
              #tagsFC="ngModel"
              [(ngModel)]="editnotes.tagId"
              required
            >
              <option value="" selected>Select</option>
              <option value="1">Books</option>
              <option value="2">Films</option>
              <option value="3">Others</option>
            </select>
            <small
              class="form-text text-danger"
              *ngIf="tagsFC.touched && !tagsFC.valid"
            >
              Please Select Tag.
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          data-dismiss="modal"
          type="button"
          class="btn btn-primary"
          [disabled]="!notesEditForm.form.valid"
          (click)="updateNotes(editnotes)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>-->
<div
  class="modal fade"
  id="deleteModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Notes</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span> Are you sure you want to delete?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteNotes(0)"
          data-dismiss="modal"
        >
          Delete changes
        </button>
      </div>
    </div>
  </div>
</div>
