
<h1>{{PageTitle}}</h1>

<p>
    Our New Component
</p>

<div id="wrapper">
    <h1>Login</h1>
    <form>
        <table>
            <tr>  
                <td>  
                    <label for="usrname" >User Name</label>
                    <input id="usrname" type="text" placeholder="User Name" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pwd">Password</label>
                    <input id="pwd" type="password" placeholder="Password"  />  
                </td>
            </tr>
            <tr>
                <td><input type="button" value="LogIn" (click) ="LogIn();" /> </td>
            </tr>
        </table>
    </form>
    </div>